@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* General reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #252326;
    color: #dfdde0;
}

/* Header */
.header {
    background-color: #252326;
    color: #dfdde0;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}



.header .menu-icono {
    width: 25px;
    display: none;
}

.header .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.header .navbar a {
    text-decoration: none;
    color: #dfdde0;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.header .navbar a:hover {
    background-color: #4e4b5076;
    border-radius: 5px;
}

/* Main container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Centrar texto */
}

/* Título principal */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #dfdde0;
}

/* Reviews */
.review {
    background-color: #e85123;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    padding: 15px;
    max-width: 600px;
    text-align: left;
}

.review h3 {
    margin: 0 0 10px 0;
    color: #dfdde0;
}

.review .stars {
    color: #ffcc00;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.review .comment {
    font-size: 1rem;
    line-height: 1.5;
}

/* Responsive design */
@media (max-width: 768px) {
    .header .navbar ul {
        flex-direction: column;
        display: none;
    }

    .header .menu-icono {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }

    .header .menu:checked + label + .navbar ul {
        display: flex;
    }

    .review {
        max-width: 90%;
    }
}


